.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-center{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}
.btn{
    padding: 10px 20px;
    background-color: rgb(229, 169, 5);
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;
    margin-right: 20px;
}
.btn2{
    padding: 10px 20px;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: #ffff;
    font-weight: bold;
    margin-top: 25px;
    padding-top: 15px;
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;
}
.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
}
.banner-image{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}